body {
    --background: #FFF; 
    --primary-bg-color: #053892;           
    --primary-text-color: #FFF;         
    --secondary-text-color: #0098FB;
    --paragraph-header: #000;
    --paragraph-label: #231F20;
    --color-white: #ffffff;
    --color-gray: #9C9C9C;
    --color-darkgray: #999999;
    --color-lightgray: #666;
    --color-blueline: #c1cde4;
    --background-gray:#F6F6F6;
    --linefiller: #DADADA;
    --background-lightgray:#F7F7F7;
    --submit:#DFE4ED;
    --background-blue: #EEF3FB;

    --bg-light-color-1: #F5F7FA;

    --warning-color: #E02E2E;
    --pastel-color-1: #d2e2ff;
/* vinoth changes */
    --light-blue:#F7FCFF;
 }
 
    

    
   
    
    
    
    