@font-face {
	font-family: 'SegoeUI';
	src: url('../fonts/SegoeUIeot');
	src: url('../fonts/SegoeUI.eot') format('embedded-opentype'), url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf') format('truetype'), url('../fonts/seguisb.svg#SegoeUI') format('svg');
}
@font-face {
	font-family: 'SegoeUISemibold';
	src: url('../fonts/seguisb.eot');
	src: url('../fonts/seguisb.eot') format('embedded-opentype'), url('../fonts/seguisb.woff') format('woff'), url('../fonts/seguisb.ttf') format('truetype'), url('../fonts/seguisb.svg#SegoeUISemibold') format('svg');
}
@font-face {
	font-family: 'SegoeUI-Light';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot') format('embedded-opentype'), url('../fonts/SegoeUI-Light.woff') format('woff'), url('../fonts/SegoeUI-Light.ttf') format('truetype'), url('../fonts/seguisb.svg#SegoeUI-Light') format('svg');
}
/* ------------------ Top-wrapper  --------------- */ 
.language a {
	font-family: 'SegoeUISemibold';
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	float: left;
	color: #00abff;
}
.top-wrapper {
	width: 100%;
	padding: 5px 0px 5px 0px;
	background-color: #333333;
}
.information-wrapper {
	color: #fff;
	font-size: 12px;
	margin-right: -15px;
}
.information-wrapper a {
	font-family: 'SegoeUISemibold';
	font-size: 12px;
	color: #fff;
	float: right;
	margin-left: 8px;
	margin-top: 1px;
}
.information-wrapper div {
	padding-left: 10px;
	padding-right: 15px;
}
.information-wrapper div:last-child {
	padding-left: 15px;
	padding-right: 0px;
}
.navbar {
	background: none repeat scroll 0 0 #151515;
	border-radius: 0;
	margin-bottom: 0;
	padding: 15px 0 0;
}
.dropdown-menu li {
	border-bottom: dashed 1px #000;
}
.dropdown-menu li:last-child {
	border-bottom: none;
}
.top-bar {
	padding: 20px 0px 0px 0px;
}
.social, .search {
	text-align: left;
}
.social-share {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
ul.social-share li {
	display: inline-block;
}
ul.social-share li a {
	color: #0576bc;
	width: 55px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 2px;
	font-size: 13px;
}
.border-line {
	color: #0576bc;
	margin-right: 5px;
}
.search-icon {
	margin-left: 11px;
	margin-top: 0px;
	padding: 10px 10px 3px 10px;
	background-color: #e53e52;
}
.andoc-wrapper {
	margin-right: 0px;
}
.menu-wrapper {
	margin-top: 20px;
	width: 100%;
	background: url(../images/menu-bg.jpg) repeat-x 0 0 #e53e52;
}
/* ------------------ Banner  --------------- */ 
.carousel-inner {
	background: url(../images/banner-bg.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.item img {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	height: 401px;
}
.carousel-caption .heading, .carousel-captions .heading {
	padding: 35px 10px 10px 0px;
}
.carousel-caption p, .carousel-captions p {
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-weight: light;
}
.carousel-caption a {
	color: #e53e52;
	font-size: 18px;
	float: left;
	margin-right: 10px;
	margin-top: -3px;
}
.carousel-caption i {
	color: #e53e52;
	font-size: 18px;
}
.carousel-caption h2, .carousel-captions h2 {
	font-family: 'SegoeUI-Light';
	color: #111111;
	font-size: 40px;
}
.carousel-caption span {
	color: #0085c6;
	font-size: 50px;
}
/* ------------------ Marquee Wrapper --------------- */ 
.marquee-wrapper {
	background: url(../images/menu-bg.jpg) repeat-x 0 0;
	color: #000;
	font-weight: 600;
	padding: 5px 0;
	width: 100%;
}
/* ------------------ appointment-wrapper --------------- */ 
.appointment-wrapper {
	background-color: #ebebeb;
	color: #fff;
	margin: -110px 0 0;
	overflow: hidden;
	padding: 10px 0px 2px 0px;
}
.appointment-wrapper .heading {
	width: 20%;
	float: left;
	background-color: #0085c6;
	padding: 8px 10px 8px 27px;
	border-radius: 0px 5px 5px 0px;
}
.appointment-wrapper .heading h2 {
	font-size: 16px;
	text-align: center;
	line-height: 22px;
}
.text-boxes {
	margin: 0px 0px 0px 0px;
	float: left;
}
.form-group {
	margin: 0px 0px 5px 20px !important;
}
.text-area {
	width: 20%;
	float: left;
}
.submit-button {
	width: 12%;
	margin-left: 20px;
	float: left;
}
/* ------------------ Content wrapper --------------- */ 
.content-wrapper .row {
	margin: 10px 0px 0px 0px;
}
.content-wrapper h1 {
	font-family: 'SegoeUISemibold';
	color: #009dff;
	font-size: 22px;
	margin: 0px;
	padding: 3px 0px 0px 12px;
	text-align:right;
}
/* ------------------ services-wrapper --------------- */ 
.services-wrapper {
	border-left: solid 1px #0085c6;
}
.services-wrapper > .pull-left {
	margin-right: 25px;
}
.service {
	background-image: url(../images/service.jpg);
	background-repeat: no-repeat;
	width: 55px;
	height: 53px;
	float: left;
	cursor: pointer
}
.service.medical {
	background-position: 0 0;
}
.service.medical:hover {
	background-position: -50px 0px;
}
.service.health {
	background-position: 0 -54px;
}
.service.health:hover {
	background-position: -51px -54px
}
.service.health {
	background-position: 0 -54px;
}
.service.health:hover {
	background-position: -51px -54px
}
.service.supporting {
	background-position: 0 -106px;
}
.service.supporting:hover {
	background-position: -51px -106px
}
.service.supportingcar {
	background-position: 0 -156px;
}
.service.supportingcar:hover {
	background-position: -51px -157px
}
.services-wrapper .image-indent {
	padding: 0px 0px 10px 0px;
	float: left;
}
.services-wrapper .text-indent {
	margin-right: 15px;
	width: 87%;
	float: left;
}
.services-wrapper .row .image-indent {
	float: left;
	margin-right: 0px;
}
.services-wrapper .row .text-indent h2 {
	margin: 0px;
	text-align:right
}
/* ------------------ Latest-news  --------------- */ 
.latest-news .heading, .services-wrapper .heading {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.latest-news h2, .services-wrapper h2 {
	font-family: 'SegoeUISemibold';
	color: #111111;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
.services-wrapper p {
	padding: 8px 0px;
	font-size: 15px;
	text-align:right
}
.latest-news .row, .services-wrapper .row, .upcoming-events .row, .about-latest-news .row {
	padding: 0px 0px 10px 20px;
	margin-right: 0px;
	margin-left: 0px
}
.latest-news .row:last-child, .services-wrapper .row:last-child, .headmaster-blog .row:last-child, .headmaster-blog .row:nth-child(odd), .upcoming-events .row:last-child {
	background: none;
	margin-right: 0px;
	margin-left: 0px;
}
.latest-news .heading .image-indent, .services-wrapper .heading .image-indent, .headmaster-blog .heading .image-indent, .upcoming-events .heading .image-indent {
	margin-right: 10px;
	float: left;
}
.latest-news .heading .text-indent, .heading .services-wrapper .text-indent, {
 width: 55%;
 float: left;
}
.latest-news a {
	color: #4e4e4e;
}
/* ------------------ announcement --------------- */ 
.announcements {
	padding: 0px 0px 0px 20px;
	margin: 10px 0px 0px 0px;
	border-left: solid 1px #cccccc;
}
.announcements h2 {
	font-family: 'SegoeUISemibold';
	margin: 0px;
	color: #0085c6;
}
/* ------------------ patient-description--------------- */ 
.patient-description {
	overflow: hidden;
	height: auto;
}
.patient-description b {
	color: #999;
	font-weight: normal;
}
.patient-description .image-indent {
	width: 22%;
}
.patient-description .text-indent {
	border-top: solid 1px #0085c6;
	width: 78%;
	margin: 15px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}
.ourpatient-wrapper {
	background: url(../images/quotation.png) no-repeat 104px 32px;
}
.ourpatient-wrapper h2 {
	font-family: 'SegoeUISemibold';
	color: #0085c6;
	font-size: 22px;
	text-align:right
}
/* ------------------ Seeall- Wrapper--------------- */ 
.seeall-wrapper {
	overflow: hidden;
	height: auto;
	margin: 10px 0px 10px 0px;
}
.seeall-wrapper .see-all a {
	color: #e53e52;
	text-decoration: underline;
}
.seeall-wrapper a:hover, a:focus {
	outline: none;
	border: none;
	text-decoration: none;
}
.seeall-wrapper i {
	border: solid 2px #0085c6;
	padding: 10px 10px;
}
/* ------------------ latestnews-wrapper --------------- */ 
.latestnews-wrapper {
	margin: 25px 0px 0px 0px;
	float: left;
}
.latestnews-wrapper h2 {
	font-family: 'SegoeUISemibold';
	color: #0085c6;
	margin: 0px 0px 15px 0px;
	font-size: 22px;
	text-align:right
}
.latestnews-wrapper .rows {
	border-bottom: dashed 1px #ccc;
	margin: 15px 0px;
}
.announcements-wrapper {
	background-color: #ebebeb;
	padding: 0px 0px;
	overflow: hidden;
}
.announcements-wrapper h2 {
	color: #0085c6;
	font-size: 18px;
	text-align:right
}
.suggestions-wrapper {
	border: solid 2px #0085c6;
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 30px 10px;
	background-color: #fff;
	overflow: hidden
}
.suggestions-wrapper .text-indent {
	width: 54%;
}
.suggestions-wrapper .image-indent {
	position: absolute;
	width: 20%;
	z-index: 8;
	left: 17px;
	margin-top: -17px;
	
}

.suggestions-wrapper span {
	font-family: 'SegoeUISemibold';
	font-size: 18px;
	color: #0085c6
}
.suggestions-wrapper small {
	font-family: 'SegoeUISemibold';
	font-size: 18px;
	color: #0085c6;
	margin: 0px 0px 0px 36px
}
.suggestions-wrapper p {
	font-family: 'SegoeUI-Light';
	margin: 0px 0px 0px 57px;
	font-size: 16px;
	text-align:left
}
.suggestions-wrapper big {
	font-family: 'SegoeUI-Light';
	margin-top: -20px;
	margin-left: -48px;
	font-size: 54px;
	color: #0085c6
}
/* ------------------ Footer  --------------- */ 
.footer {
	background-color: #5b95b2;
	padding: 25px 0px 25px 0px;
	color: #fff;
}
.footer h2 {
	font-family: 'SegoeUISemibold';
	color: #111111;
	font-size: 20px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	text-align:right
}
.quick-links
{
	float:right;
}
.quick-links ul {
	margin: 0px 70px 0px 0px;
	padding: 0;
	float: right;
	list-style-type: none;
}
.quick-links li {
	background: url(../images/quick-bullet.png) no-repeat right top;
}
.quick-links li a {
	padding: 10px 30px 0px 0px;
	font-size: 16px;
	color: #fff;
}
.latest-tweets h3 {
	font-family: 'SegoeUISemibold';
	font-size: 16px;
	color: #000;
	text-align:right
}
.latest-tweets p {
	font-family: 'SegoeUI';
	font-size: 14px;
	line-height: 10px;
	color: #000;
}
.latest-tweets a {
	color: #006db9;
}
.direction {
	color: #e53e52;
}
.social-media li {
	float: left;
}
.social-media ul {
	margin: 20px -14px 0px 0px;
	padding: 0px;
	list-style-type: none;
}
.social-media {
	margin: 0px 0px 0px 0px;
	float: right;
	cursor: pointer
}
.twitter, .linked, .facebook {
	background-image: url(../images/social-media.png);
	background-repeat: no-repeat;
	width: 51px;
	height: 53px;
}
i.twitter, i.facebook, i.linked {
	float: left;
}
.social-media .twitter {
	background-position: 0px 0px;
}
.social-media .facebook {
	background-position: -51px 0px
}
.social-media .linked {
	background-position: -101px 0px
}
.copyright a, .copyright a:hover {
	color: #006db9;
	text-decoration: none;
}
.copyright {
	padding: 10px 0px;
	font-size: 13px;
}
.copyright a {
	color: #0085c6;
}
/* ----------------------------------- About- us ----------------------------------- */ 

/* ------------------ breadcrumb --------------- */
.breadcrumb {
	padding: 10px 0px 10px 17px;
	overflow: hidden;
	border-bottom: solid 1px #ccc;
}
.breadcrumb ul {
	margin: 0px;
	padding: 0px;
}
.breadcrumb li a {
	display: block;
	padding: 0px 8px 0px 3px;
	float: left;
	font-size: 14px;
	color: #0576bc;
}
.breadcrumb li a.active {
	color: #333333;
}
.breadcrumb li {
	display: inline-block;
	float: right;
}
.items {
	background: url(../images/aboutus-banner.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 99px;
}
.items h2 {
	font-family: 'SegoeUI-Light';
	font-size: 50px;
	margin: 0px;
	padding: 20px 23px 0px 60px;
	text-align:right;
}
/* -------- left - navigation --------  */ 
.inner-wrapper {
	margin-bottom: 20px;
}
.left-navigation {
	margin: 50px -30px 0px 0px
}
.left-navigation ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.left-navigation li a {
	color: #0085c6;
	padding: 12px 0px 12px 15px;
	display: block;
}
.left-navigation li {
	border-bottom: solid 1px #cccccc;
}
.left-navigation li:last-child {
	border-bottom: solid 0px #cccccc;
}
.left-navigation li.active a {
	color: #dd0022;
}
/* -------- right - navigation --------  */ 
.right-wrapper {
	border-right: solid 1px #cccccc;
	padding: 0px 20px 10px 10px;
	min-height: 208px;
	height: auto;
}
.right-wrapper h2 {
	font-family: 'SegoeUISemibold';
	color: #000;
	font-size: 20px;
	text-align:right
}
.right-wrapper p {
	color: #000;
	line-height: 24px;
	margin: 0px 0px 25px 0px;
}
/* ----------------------------------- e- Services ----------------------------------- */ 
.forms-wrapper {
	background-color: #ebebeb;
	padding: 10px 10px 6px 10px;
	font-size: 13px;
	margin: 30px 0px 0px 0px;
}
/* ----------------------------------- Datepicker  ----------------------------------- */ 
.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
}
.datepicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}
.datepicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}
.datepicker > div {
	display: none;
}
.datepicker table {
	width: 100%;
	margin: 0;
}
.datepicker td, .datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}
.datepicker td.day.disabled {
	color: #eeeeee;
}
.datepicker td.old, .datepicker td.new {
	color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
	color: #ffffff;
	background-color: #006dcc;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	border-left-color: #0044cc;
	border-right-color: #0044cc;
	border-top-color: #0044cc;
	border-bottom-color: #002a80;
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
	background-color: #003399 \9;
}
.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td span:hover {
	background: #eeeeee;
}
.datepicker td span.active {
	color: #ffffff;
	background-color: #006dcc;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	border-left-color: #0044cc;
	border-right-color: #0044cc;
	border-top-color: #0044cc;
	border-bottom-color: #002a80;
}
.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td span.active:active, .datepicker td span.active.active {
	background-color: #003399 \9;
}
.datepicker td span.old {
	color: #999999;
}
.datepicker th.switch {
	width: 145px;
}
.datepicker th.next, .datepicker th.prev {
	font-size: 21px;
}
.datepicker thead tr:first-child th {
	cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
	background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
	cursor: pointer;
	display: block;
	height: 32px;
	width: 32px;
}
.input-append .add-on, .input-prepend .add-on {
	background-color: #eeeeee;
	float: left;
	height: 32px;
	line-height: 20px;
	min-width: 32px;
	margin-left: 7px;
	margin-top: -4px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	width: auto;
}
/* ----------------------------------- Video Gallery ----------------------------------- */ 
.video-wrapper {
	margin-left: -13px;
}
.video-description {
	background-color: #e53e52;
	margin: 1px 0px 0px 0px;
	padding: 10px 0px 10px 10px;
}
.video-description h2 {
	font-size: 15px;
	margin: 0px;
	text-align: center;
	color: #fff;
}
/* ----------------------------------- News Wrapper ----------------------------------- */ 
.news-wrapper .row {
	margin: 10px 0px 10px 0px;
	padding: 20px 0px 20px 0px;
	border-bottom: solid 1px #cccccc;
}
.news-wrapper img {
	border: solid 1px #0085c6;
}
.news-wrapper .row:first-child {
	border-top: solid 1px #cccccc;
}
.news-wrapper .row:last-child, .press-wrapper .row:last-child {
	border-bottom: solid 0px #cccccc;
}
.news-wrapper h3 {
	margin: 0px 0px 5px 0px;
	font-weight: normal;
	font-size: 14px;
}
.news-wrapper strong {
	color: #e53e52;
	margin: 5px 0px;
}
.news-wrapper p {
	background-color: #ebebeb;
	padding: 5px 5px 5px 10px;
	margin: 5px 0px 2px 0px;
	line-height: 20px;
}
.news-wrapper .read-more {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/read-more.png) no-repeat 0 0;
	width: 5px;
	height: 6px;
}
/* ----------------------------------- Press Wrapper ----------------------------------- */ 
.press-wrapper .row {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	border-bottom: solid 1px #cccccc;
}
.press-wrapper h2 {
	margin: 0px;
	padding: 0px;
}
.press-wrapper p {
	font-family: 'SegoeUI-Light';
	background-color: #ebebeb;
	padding: 10px 5px 10px 10px;
	margin: 1px 0px 0px 0px;
	line-height: 20px;
}
.press-wrapper i {
	color: #cc0033;
	font-size: 25px;
	margin: 4px 9px 0px 9px;
	float: right;
	height: 23px;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
   -ms-transform: rotate(179deg); 
    -webkit-transform: rotate(179deg); 
		transform: rotate(179deg);
}
/* ----------------------------------- Publication Wrapper ----------------------------------- */ 
.publication-wrapper h3 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-size: 18px;
	text-align:right
}
.publication-wrapper h4 {

	padding: 0px;
	font-size: 14px;
	text-align:right;
		margin: 0px 0px 20px 0px;

	font-weight: normal;
	color: #e53e52;
}
.publication-wrapper p {
	margin: 0px 0px 10px 0px;
}
.publication-wrapper .row {
	background-color: #ebebeb;
	padding: 10px 0px 10px 0px;
}
/* ----------------------------------- Doctors Wrapper ----------------------------------- */ 
.leftborder-none {
	border-right: 0px solid #cccccc;
}
.doctors-wrapper {
	color: #0085c6;
}
.doctors-wrapper strong, .doctors-wrapper b {
	margin: 0px 0px 5px 0px;
	display: inline-block;
	font-weight: normal;
	color: #e53e52;
}
.doctors-wrapper b {
	color: #000;
}
.doctors-wrapper p {
	margin: 10px 0px 0px 0px;
	line-height: 14px;
	padding: 0px;
}
.doctors-wrapper .row {
	background: none;
	padding: 10px 0;
}
.doctors-wrapper .image-indent {
	background-color: #66737b;
	padding: 20px 10px;
	vertical-align: middle;
	text-align: center;
	height: 160px;
}
.doctors-wrapper .text-indent {
	background-color: #ebebeb;
	padding: 20px 20px 0px 20px;
	height: 160px;
}
.doctors-list {
	background-color: #66737b;
}
/* ----------------------------------- Contact Wrapper ----------------------------------- */ 
.contact-wrapper h2 {
	color: #dd0022;
	font-size: 16px;
	margin: 0px 0px 10px 0px;
}
.contact-wrapper p {
	margin: 0px 0px 0px 0px;
	color: #0085c6;
	font-size: 13px;
	line-height: 18px;
}
.contact-address {
	overflow-y: scroll;
	height: 320px;
}
.row .contact-wrapper {
	margin-left: -15px;
	padding: 0px;
}
.contact-wrapper .row {
	padding: 0px 0px 15px 0px;
	margin: 0px 0px 10px 0px;
}
/* ------------------ management --------------- */
.management-wrapper {
	margin: 25px 0px 0px 0px;
	direction: rtl
}
.management-wrapper a:hover {
	text-decoration: none;
}
.management-wrapper .table-bordered > tbody > tr:nth-child(2n) {
	background-color: #eeeeee;
}
/* ------------------ Login Wrapper --------------- */
.login-wrapper .input-group-lg > .form-control {
	font-size: 18px;
	line-height: 1.33333;
}
.login-wrapper .input-group-addon {
	background-color: #fff;
	margin: 0;
	padding: 0 10px 0px 10px;
	vertical-align: top;
}
.login-wrapper input[type="text"] {
	border-left: 1px solid #cccccc !important;
	border-right: 0px solid #cccccc !important;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-radius: 0;
	color: #333333 !important;
	font-size: 14px;
	margin: 0px 0 0px 0px !important;
	outline: medium none;
	padding: 5px 5px 6px 5px !important;
	text-align:right
}
.login-wrapper .input-group-lg > .form-control, .login-wrapper .input-group-lg > .input-group-addon, .login-wrapper .input-group-lg > .input-group-btn > .btn {
	font-size: 14px;
	height: auto;
	line-height: 24px;
	padding: 3px 10px 6px 16px;
}
.login-wrapper .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.login-wrapper {
	padding: 10px 10px 15px 6px
}
.login-wrapper .row {
	padding: 5px 10px 5px 6px
}
.login-wrapper a {
	margin: 15px 20px 10px 0px;
	float: left
}
